.md-nav {
	display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999999;

    width: 270px;
    height: 100%;
    padding: 10px;
    overflow-x: scroll;

    border: none;
    border-right: 1px rgba(40, 40, 40);
    background-color: rgba(40, 40, 40);

    font-family: sans-serif;
    transform: translate3d(0px, 0px, 0px);
}

.md-nav-header {
	width: 280px;
	padding: 10px;
	margin: -10px -10px 10px -10px;
	height: 40px;

	border-bottom: 1px rgb(200, 200, 200);
	font-size: 20px;
	color: rgb(140, 180, 255);
}

.md-nav ul {
	list-style-type: none;
	list-style-position: outside;
}

.md-nav ul ul {
	padding-left: 14px;
}

.md-nav ul>li a {
	display: inline-block;
	padding-right: 10px;
	white-space: nowrap;
	text-decoration:none;
	font-size: 14px;
	line-height: 160%;
	color: #eee;
	transition: color 0.2s;
}

.md-nav ul>li a:hover, 
.md-nav ul .item-selected {
	color: rgb(140, 180, 255);
}

.ui-resizable-e {
	width: 10px;
}