.md-nav-wrapper {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999999;

    height: 100%;
    background-color: rgba(40, 40, 40);

    transition: margin-left 0.1s;
}

.md-nav {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-x: scroll;

    border: none;
    border-right: 1px rgba(40, 40, 40);

    font-family: sans-serif;
    transform: translate3d(0px, 0px, 0px);
}

.md-nav-header {
	width: 100%;
	padding-left: -10px;
	height: 40px;

	border-bottom: 1px rgb(200, 200, 200);
	font-size: 18px;
	color: rgb(140, 180, 255);
}

.md-nav ul {
	list-style-type: none;
	list-style-position: outside;
}

.md-nav ul ul {
	padding-left: 14px;
}

.md-nav ul>li a {
	display: inline-block;
	padding-right: 10px;
	white-space: nowrap;
	text-decoration:none;
	font-size: 14px;
	line-height: 160%;
	color: #eee;
	transition: color 0.2s;
}

.md-nav ul>li a:hover, 
.md-nav ul .item-selected {
	color: rgb(140, 180, 255);
}

.ui-resizable-e {
    right: 0;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.md-nav-btn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1000000;
}

.md-nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

#js-hide-nav-btn {
    display: inline-block;
    float: right;
}

#js-show-nav-btn {
    display: none;
    position: fixed;
    left: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s
}